.fix{
    top: 0px;
    width: 100%;
    display: flex;
    background-color: #efefef;
    border-bottom: 1px solid rgb(231, 223, 223);
    height: 90px;
}
.nab{
     margin-left: 20%;
}
.items{
    
    padding: 20px;
    margin: 0;
    font-weight: bold;
}
.big{
    margin-right: 10rem;
}
.tin{
    background-color: #f90;
    padding: 12px 20px;
    margin-left: 1rem;
    font-weight: 500;

}


.textup{

    padding-left: 4rem;
}

.sec1{
    margin-right:0rem;

}


.ten{
    padding: 12px 20px;
    font-weight: 500;
}
.top{
    display: block;
    width: 100%;
    margin-top: 15rem;

}
.top img{
    width: 450px;
    
}

.text-section h1{
    font-weight: bolder;
    font-size: 3rem;
}

.section2{
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}

.text-section{
    padding: 0 18rem;
    text-align: center;
}

.thumbsup{
    padding-left: 4rem;
    padding-right: 4rem;
}
.thumbsup img{
    width: 80px;
}
.tent1{
    background-color: #f90;
     padding: 12px 20px; 
    font-weight: 500;
    margin-left: 34rem;
}

 .section3{
    margin-top: 4rem;
}

.mat{
    margin-right:0rem;
    margin-top: 15rem;

}
.tec{
    padding-left:4rem;

}

.tec h2{
    font-size: 50px;
    font-weight: bolder;
}
.tec h5{
    
    font-weight: bolder; 
}
.bat{
    margin-top: 15rem;
}
.bat1 p{
    font-weight: bolder;
    color: rgb(6, 87, 109);
}

.med{
    margin-right:0rem;
    margin-top: 10rem;
    margin-left: 4rem;

}
.mo{
    font-size:40px;
    font-weight: 500;
}
.mec{
    padding-left: 4rem;
} 
.me p{
    margin-left: 3rem;
    position: relative;
}
.we{
   position: absolute;
}
.tem{
    background-color: #f90;
     padding: 12px 20px; 
    font-weight: 500;
    color: white;
}

.dee{
    margin-right:0rem;
    margin-top: 10rem;
    margin-left: 4rem;

}

.marketing{
    margin-top: 15rem;
}
.sup{
    margin-right:0rem;
    margin-top: 15rem;

}